{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <img src="{{book.img.url}}" width="300" height="350">
        </div>
        <div class="col-md-6">
            <h3>{{book.name}}</h3>
            <h5>Author : {{book.author}}</h5>
            <p><h6>About : </h6>{{book.desc}}</p>
            <h6>Published year : {{book.year}}</h6>
            <h6>Price : {{book.price}}</h6>
            <a class="btn btn-warning" href="{% url 'ebookapp:update' book.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'ebookapp:delete' book.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}