{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in book_list %}
        <div class="col-md-2">
            <div class="card" style="margin-top:50px">
                <img class="card-img-top" src="{{i.img.url}}" alt="" height="150px">
                <div class="card-body">
                     <h5 class="card-title">{{i.name}}</h5>
<!--                        <p class="card-text">{{i.desc}}</p>-->
                        <a class="btn btn-primary" href="{% url 'ebookapp:details' i.id %}">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}